@font-face {
    font-family: 'StratosSkyeng';
    src: url('../fonts/stratosskyengweb-regular.woff') format('woff'),
        url('../fonts/stratosskyengweb-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 364px);
    padding-right: calc(50% - 364px);
}

.app {
    font-family: "Montserrat", sans-serif;
    background-color: #004980;
    width: 1024px;
    height: 774px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 25%;
}


.choice_level {
    width: 480px;
    height: 459px;
    background: #C2F5FF;
    border-radius: 12px;
    position: absolute;
    margin-left: 272px;
    margin-top: 157px;
}

.title {
    width: 208px;
    height: 96px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #004980;
    padding-left: 136px;
    padding-top: 52px;
}

.easy, .normal, .hard {
    width: 97px;
    height: 98px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080C1;
}

.level {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    gap: 32px;
}

.start {
    width: 246px;
    height: 50px;
    background: gray;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
    margin-left: 117px;
    margin-top: 67px;
}

.start_active {
    background: #7AC100;
}